    <div class="container">

      <form class="form-signin" action="/welcome/sign_in" method="post">
        <h2 class="form-signin-heading">Sila Daftar Masuk</h2>
        <label for="inputEmail" class="sr-only">Alamat Emel</label>
        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus
        name="email"
        >
        <label for="inputPassword" class="sr-only">Kata Laluan</label>
        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required
        name="password"
        >
        <div class="checkbox">
          <label>
            <input type="checkbox" value="remember-me"> Ingat Saya
          </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Daftar Masuk</button>
      </form>

    </div> <!-- /container -->